.debug{
    border: 1px solid red;
}

.titulo-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-app{
        
}

.cuadro-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input{
    border-radius: 5%;
    width: 290px;
    height: 50px;
    border: 1px solid gray ;
    margin: 10px;
}

.boton-ingresar{
    background-color: #2D8F1D;
    text-align: center;
}

.texto-olvidar-password{
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.ingreso-correo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.boton-google{
    width: 75px;
    height: 48px;
    border-radius: 8px;
    background-color: #C5C9D0E5;
}

.crear-cuenta{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.pag-bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.titulo-rap-rumble{
    font-size:25px;
    font-weight: 500;
    color: white;
    
}

.bienvenido{
    margin-top: 45px;   
    border-radius: 28px;
    background-color: #2D8F1D;
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;   
}

.busqueda-torneos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 65%;
    height: 100 px;
    align-items: center;
    justify-content: start;
}

.seccion-hacer{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100 px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px; ;
}

.titulos-inicio{
    font-size: 32px;
    font-weight: 700;
    color: #3d405b;
}

.menu-opciones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-verde{
    background-color: #2D8F1D;
    border-radius: 28px;
    padding: 8px;
    width: 110px;
    height: 130px;
    border: none;   
}

.card-gris{
    background-color: gray;
    border-radius: 28px;
    padding: 8px;
    width: 110px;
    height: 130px;
    border: none;
    
}